.main-content {
  scroll-snap-type: y proximity;
}

.responsive-toggle {
  display: block !important;
  scroll-snap-align: start;
}

.main-sidebar {
  margin-left: -330px;
}

body.open {
  transform: translateX(330px);
}

.input-group.search.post-page {
  scroll-snap-align: start;
}
